.changePost button{
    height: 20px;
    margin-right: 5px;
    display: inline-block;
    align-self: flex-end;
    box-sizing: border-box;
}

.changePost{
    box-sizing: border-box;
    height: 80px;
    display: flex;
    margin: 10px;
}

.changePost textarea{
    margin-right: 5px;
    box-sizing: border-box;
    height: 80px;
    width: 300px;
    align-self: flex-end;
}