.changePost button{
    height: 20px;
    margin-right: 5px;
  display: inline-block;
  align-self: flex-end;
}

.changePost{
    box-sizing: border-box;
    height: 80px;
    display: flex;
    margin: 10px;
}

.changePost textarea{
    padding: 0;
    margin-right: 5px;
    box-sizing: border-box;
    height: 80px;
    width: 300px;
}