.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.lastFriends {
  margin-top: 40px;
}

.header {
  font-size: x-large;
  color: white;
  text-align: center;
  display: block;
}

.link {
  text-decoration: none;
}
