.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems{
    padding: 10px;
}

.dialogs .active{
    color: gold;
}

.dialog a{
    color: white;
    text-decoration: none;
}

.messages{
    padding: 10px;
}

.message{
    color: red;
}
