.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems{
    padding: 10px;
}

.dialogs .active{
    color: gold;
}

.dialog a{
    color: white;
    text-decoration: none;
}

.messages{
    padding: 10px;
}

.enter{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.enter textarea{
    width: 200px;
    height: 60px;
    box-sizing: border-box;
    margin-right: 5px;
}

.enter button{
    width: 60px;
    height: 20px;
    box-sizing: border-box;
    display: inline-block;
    align-self: flex-end;
}

.message{
    color: red;
}
